@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Fredoka:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

// font family definitions
$font-family-base: 'Inter', sans-serif;
$font-family-hand: 'Fredoka', sans-serif;

// weight definitions
$font-weight-normal: 400;
$font-weight-bold: 700;