// exposed vars style scss
@use '../abstracts/' as *;


// rules globals on the project
html {
    box-sizing: border-box;
    font-size: 18px; // base font-size adjusted whit rem em

    @media screen and (max-width: $breakpoint-lg) {
        font-size: 17px;
    }

    @media screen and (max-width:$breakpoint-sm) {
        font-size: 16px;
    }
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(120deg, pink 20%, white 90%);
    color: black;
    font-family: $font-family-hand;
    font-weight: $font-weight-normal;
    line-height: 1.5;
}